.model-container {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 4;
}

.clothes-container {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
    height: auto;
    z-index: 4;
}